h1 {
    display: flex;
    flex-direction:column;
    align-items: center;
}

#latarea {
    display: flex;
    flex-direction: row;
    width: 25em;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#latarea * {
    border: 1px solid;
    margin:5px;
    background: rgb(243, 243, 243);
    text-align: center;
    font-size: 15px;
}

#tarea {
    width:100%;
    height: 10mm;
    border-color: black;
    font-style: italic;
}

#nueva {
    width:40%;
    color:white;
    height: 10mm;
    background: cornflowerblue;
}

#divi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 75em;
}

#divi *{
    padding: 10px 125px;
    background: cornflowerblue;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

#tablero{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 75em;
}

#tablero *{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#todo {
    width:20em;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#todo *{
    margin-top: 30px;
}

#doing {
    width:20em;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#doing *{
    margin-top: 30px;
}

#done {
    width:20em;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#done *{
    margin-top: 30px;
}

.lastareas {
    display: flex;
    width: 100%;
    height: 10em;
    border: 3px solid;
    border-color: rgb(201, 201, 201);
    position: relative;
    
}

.lodescrip {
    font-size: 15px;
    width: 84%;
    position: absolute;
    top: 15px;
    left: 15px;
}

.lahora {
    font-size: 12px;
    width: 84%;
    position: absolute;
    top: 0 px;
    left: 15px;
    color:rgb(168, 168, 168);
}

.borrar {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    background: rgb(218, 15, 15);
    position: absolute;
    top: 0;
    right: 10px;
}

.siguiente {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    background: rgb(15, 120, 218);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.anterior {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    background: rgb(255, 191, 16);
    position: absolute;
    bottom: 10px;
    left: 10px;
}




